/* GLOBAL STYLES */
body {
  color: white;
}
.nav-link:hover {
  color: rgba(255, 255, 255, 0.781);
}

.nav-link {
  color: white;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.nav-link {
  font-weight: bold;
  font-size: 1.1rem;
}

.min-h-section {
  min-height: 100vh;
}

#aside {
  width: 3.5rem;
  background-color: #04541f93;
  top: 0px;
  left: 0px;
}

.vertical-bar {
  position: absolute;
  left: none;
  right: -1rem;
  top: 0.4rem;
  width: 1.7rem;
  height: 16rem;
  background: linear-gradient(
    0deg,
    rgba(14, 170, 67, 0.5830707282913166) 38%,
    rgba(4, 84, 31, 0.9724264705882353) 100%
  );
}

.title-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  margin-top: 9rem;
  margin-bottom: 9rem;
}

.title-container > div:first-child {
  background-color: #ffffff73;
  backdrop-filter: blur(5px);
  width: 100%;
}

.btn {
  width: 11.8rem;
  height: 2.5rem;
  box-shadow: -4px 4px 0px 1px rgba(255, 255, 255, 0.24);
  -webkit-box-shadow: -4px 4px 0px 1px rgba(255, 255, 255, 0.24);
  -moz-box-shadow: -4px 4px 0px 1px rgba(255, 255, 255, 0.24);
}

.btn-lg {
  width: 15.3rem;
  height: 3.1rem;
}
.btn-small {
  width: 10rem;
  height: 2.2rem;
}
.text-vertical {
  transform: rotate(-90deg);
  font-size: 1.1rem;
}

.bar-title {
  width: 0.3rem;
  height: 5rem;
  background: linear-gradient(
    0deg,
    rgba(14, 170, 67, 0.5830707282913166) 38%,
    rgba(4, 84, 31, 0.9724264705882353) 100%
  );
  margin-right: 0.5rem;
}

.space-smaller-best-sellers {
  height: 27.3%;
}

.space-bigger-best-sellers {
  height: 30.5%;
}

.img-best-sellers {
  height: 42.2%;
}

#best-sellers .container-button {
  bottom: 0rem;
}
.color-green {
  color: #04541f;
}

.title-gray {
  color: #6c6c6c;
}
.color-gray-light {
  color: #a5a3a3;
}
#hero {
  background: url("../assets/img/HERO.jpg") center center no-repeat;
  background-size: cover;
  height: 100%;
  max-width: 100%;
}

.titleA {
  background-image: url("../assets/img/HERO.jpg");
  color: transparent;
  background-clip: text;
}

.titleB {
  -webkit-text-stroke: 1px black;
}

.bar {
  width: 0.01rem;
  height: 1.5rem;
  background-color: white;
}
.inset {
  inset: 0;
}

.column {
  height: 18%;
  border-left: 1px solid #e6e4e4dc;
  text-align: center;
  font-size: 1.5rem;
}
.column-lg {
  height: 30%;
  border-left: 1px solid #e6e4e4dc;
}

.last-column {
  height: 17%;
  border-right: 1px solid #e6e4e4dc;
}

/* ////// */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .titleB {
    left: -10rem;
    text-wrap: nowrap;
  }

  .title-container .btn {
    left: -10rem;
  }

  .title-container {
    margin-left: 13rem;
    margin-right: 3rem;
    width: 100%;
  }

  .title-container > div:first-child {
    max-width: 32rem;
    max-height: 32rem;
    flex: 1;
  }
  .vertical-bar {
    left: -0.8rem;
    top: 0.4rem;
    width: 3.7rem;
    height: 24.5rem;
    position: relative;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* BEST SELLER STYLES */
#best-sellers {
  background: url("../assets/img/BACKGROUND\ BEST\ SELLERS.png") center center
    no-repeat;
  position: relative;
  background-size: cover;
  z-index: -2;
  min-height: 720px;
}

#best-sellers::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: #ffffffe6;
  z-index: -1;
}

.box-border {
  z-index: 3;
}
.cart-a {
  right: 0;
  height: 2.5rem;
  background-color: #00862e;
}
.bi-l {
  font-size: 1.3rem;
  color: white;
}
.color-green-dark {
  background-color: #04541f;
}
.product-price {
  transform: rotate(-90deg);
  bottom: 28px;
  left: -28px;
}

/* ABOUT US STYLES */

#about-us {
  background: url("../assets/img/ABOUT\ US.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: -2;
}

#about-us::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #04541f67;
}
.about-us-container {
  width: 100vw;
  height: 100vh;
}

.about-us-title-vertical {
  transform: rotate(-90deg);
  font-weight: bold;
  font-size: 6rem;
  text-transform: uppercase;
  color: #ffffff85;
  z-index: 2;
  position: absolute;
  left: -14rem;
}
.pictures-container {
  width: 50%;
  height: 85%;
  z-index: 3;
  position: relative;
  left: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pic1 {
  border: 3px solid white;
  position: absolute;
  left: 7rem;
  top: 11rem;
}
.pic2 {
  border: 8px solid white;
}
.pic3 {
  border: 5px solid white;
  position: absolute;
  right: 7rem;
  bottom: 3rem;
}
.pic4 {
  border: 7px solid white;
  position: absolute;
  bottom: 0rem;
  left: 7rem;
}
.content-about-us {
  width: 50%;
  height: 100%;
}
.subtitle-about-us {
  color: white;
}
.title-container-about-us {
  width: 35%;
  height: 75%;
  background-color: #ffffff73;
  backdrop-filter: blur(5px);
  position: absolute;
  right: 7rem;
  top: 7rem;
  z-index: 3;
}
.box-border {
  width: 94%;
  height: 93%;
  border: 3px solid white;
  margin: 1rem;
}

.about-us-desc {
  font-size: 1.1rem;
  text-align: center;
}
.btn-about-us {
  font-size: 1.2rem;
  color: white;
  background-color: #04541f;
  position: absolute;
  right: 3rem;
  bottom: 7rem;
}

/* PACKAGE STYLES */
#package {
  background: url("../assets/img/BACKGROUND\ BEST\ SELLERS.png") center center
    no-repeat;
  background-size: cover;
  height: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: -1;
}

#package::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffffe6;
  z-index: 1;
}
.container-package {
  margin-top: 24rem;
}

/* @media (max-width: 1200px) {
  .bar {
    display: none;
  }
  .titleA,
  .titleB {
    font-size: 4.5rem;
  }
  .titleA {
    padding-top: 7rem;
  }
  .titleB {
    right: 10rem;
    top: 22rem;
  }
  .vertical-bar {
    right: 3.5rem;
    height: 50%;
  }
  .title-container {
    width: 50%;
    height: 60%;
  }
}

@media (max-width: 750px) {
  .titleA,
  .titleB {
    font-size: 4rem;
  }
  .titleB {
    right: 7rem;
  }
  .vertical-bar {
    right: 4rem;
  }
}
@media (max-width: 576px) {
  .titleA,
  .titleB {
    font-size: 2.5rem;
  }
  .titleA {
    padding-top: 6rem;
  }
  .titleB {
    right: 5rem;
    top: 20rem;
  }
  .vertical-bar {
    right: 4.5rem;
  }
} */
