/* GLOBAL STYLES */
body {
  color: white;
}
.nav-link:hover {
  color: rgba(255, 255, 255, 0.781);
}

.nav-link {
  color: white;
}
.img-filter {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.199);
}
img {
  max-width: 100%;
  max-height: 100%;
}

.nav-link {
  font-weight: bold;
  font-size: 1.1rem;
}

.min-h-section {
  min-height: 100vh;
}

#aside {
  width: 3.5rem;
  background-color: #04541f93;
  top: 0px;
  left: 0px;
}

.vertical-bar {
  position: absolute;
  left: none;
  right: -1rem;
  top: 0.4rem;
  width: 1.7rem;
  height: 16rem;
  background: linear-gradient(
    0deg,
    rgba(14, 170, 67, 0.5830707282913166) 38%,
    rgba(4, 84, 31, 0.9724264705882353) 100%
  );
}

.title-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  margin-top: 9rem;
  margin-bottom: 9rem;
}
.container-button {
  bottom: 2rem;
  left: 2rem;
}
.title-container > div:first-child {
  width: 100%;
}

.bg-blur-grey {
  background-color: #ffffff73;
  backdrop-filter: blur(5px);
}
.bg-blur-grey-light {
  background-color: #ffffff8f;
  backdrop-filter: blur(5px);
}
.btn {
  width: 11.8rem;
  height: 2.5rem;
  box-shadow: -4px 4px 0px 1px rgba(255, 255, 255, 0.24);
  -webkit-box-shadow: -4px 4px 0px 1px rgba(255, 255, 255, 0.24);
  -moz-box-shadow: -4px 4px 0px 1px rgba(255, 255, 255, 0.24);
}

.btn-lg {
  width: 15.3rem;
  height: 3.1rem;
}

.btn-small {
  width: 10rem;
  height: 2.2rem;
}

.text-vertical {
  transform: rotate(-90deg);
  font-size: 1.1rem;
}

.bar-title {
  width: 0.3rem;
  height: 5rem;
  background: linear-gradient(
    0deg,
    rgba(14, 170, 67, 0.5830707282913166) 38%,
    rgba(4, 84, 31, 0.9724264705882353) 100%
  );
  margin-right: 0.5rem;
}
.bar-title-white {
  width: 0.3rem;
  height: 5rem;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.466) 30%,
    rgba(248, 248, 248, 0.972) 100%
  );
  margin-right: 0.5rem;
}

.space-smaller-best-sellers {
  height: 27.3%;
}

.space-bigger-best-sellers {
  height: 30.5%;
}

.img {
  object-fit: contain;
}

#hero {
  background: url("../assets/img/HERO.jpg") center center no-repeat;
  background-size: cover;
  height: 100%;
  max-width: 100%;
}

.titleA {
  background-image: url("../assets/img/HERO.jpg");
  color: transparent;
  background-clip: text;
}

.titleB {
  -webkit-text-stroke: 1px black;
}

.bar {
  width: 0.01rem;
  height: 1.5rem;
  background-color: white;
}
/* BEST SELLER STYLES */
#best-sellers {
  background: url("../assets/img/BACKGROUND\ BEST\ SELLERS.png") center center
    no-repeat;
  position: relative;
  background-size: cover;
  min-height: 720px;
}

#best-sellers::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: #ffffffe6;
  z-index: 1;
}

.img-size {
  width: 15rem;
  height: 19rem;
}
.vertical-letter-position {
  bottom: 1%;
  left: -7%;
}
.cart-a {
  right: 0;
  height: 2.5rem;
  background-color: #00862e;
}
.bi-l {
  font-size: 1.3rem;
  color: white;
}
.color-green-dark {
  background-color: #04541f;
}
.product-price {
  transform: rotate(-90deg);
  bottom: 28px;
  left: -28px;
}

/* ABOUT US STYLES */
#about-us {
  background: url("../assets/img/ABOUT\ US.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}

#about-us::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #04541f67;
  z-index: 1;
}

.pic-2-about-us {
  top: 6%;
  left: -16%;
  border: 3px solid white;
}

.pic-3-about-us {
  bottom: -23%;
  right: -16%;
  border: 5px solid white;
}
.pic-4-about-us {
  bottom: -35%;
  left: -16%;
  border: 8px solid white;
}
.frame {
  border: 8px solid white;
}
.about-us-content {
  height: 100%;
  width: 100%;
  border: 0.3rem solid white;
}
.about-us-title-vertical {
  transform: rotate(0deg);
  color: #ffffff85;
}
/* PACKAGE STYLES */
#package {
  background: url("../assets/img/BACKGROUND\ BEST\ SELLERS.png") center center
    no-repeat;
  background-size: cover;
  position: relative;
}

#package::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: #ffffffe6;
  z-index: 1;
}

.package-title-vertical {
  transform: rotate(0deg);
  color: black;
  margin-left: 2rem;
}
.color-green {
  color: #04541f;
}

.title-gray {
  color: #6c6c6c;
}
.color-gray-light {
  color: #a5a3a3;
}
.label-transparent {
  top: 1rem;
  right: 2rem;
  color: transparent;
  -webkit-text-stroke: 1px #5e5c5cf6;
}

/* PACKAGE STYLES */
#package {
  background: url("../assets/img/BACKGROUND\ BEST\ SELLERS.png") center center
    no-repeat;
  background-size: cover;
  position: relative;
}

#package::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: #ffffffe6;
  z-index: 1;
}

.package-title-vertical {
  transform: rotate(0deg);
  color: black;
  margin-left: 2rem;
}
.color-green {
  color: #04541f;
}

.title-gray {
  color: #6c6c6c;
}
.color-gray-light {
  color: #a5a3a3;
}
.label-transparent {
  top: 1rem;
  right: 2rem;
  color: transparent;
  -webkit-text-stroke: 1px #5e5c5cf6;
}

/* TESTIMONIALS */
.testimonials-img {
  background: url("../assets/img/REVIEWS.jpg") center center no-repeat;
  background-size: cover;
  min-height: 290px;
}
.review {
  background-color: #f3f3f3;
}
.vertical-bar-testimonials {
  position: absolute;
  width: 1.5rem;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(14, 170, 67, 0.5830707282913166) 38%,
    rgba(4, 84, 31, 0.9724264705882353) 100%
  );
}
.quote-position {
  left: 9rem;
  bottom: 8rem;
}

/* SUBSCRIBE */
.subscribe-bg-left {
  background: url("../assets/img/SUBSCRIBE.png") center center no-repeat;
  background-size: cover;
  min-height: 209px;
}
.subscribe-bg-right {
  background: url("../assets/img/SUBSCRIBE.jpg") center center no-repeat;
  background-size: cover;
  min-height: 209px;
}
.img-filter-subscribe {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgb(243 243 243 / 72%) 58%,
    rgb(243 243 243) 67%,
    rgba(243, 243, 243, 0.14889705882352944) 95%
  );
}
.center-form {
  bottom: 4.5rem;
  left: -4rem;
}
/*  */
/*  */
/*  */
/* Encima de este comentario estan los estilos corregidos para first mobile  */
/*  */
/*  */
/*  */

/*  desarrollo first desktop y lo escribo sin mediaquery es decir desde 0px and up */
/*  */

/* // Small devices (landscape phones, 576px and up) xs*/
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) md */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) lg */
@media (min-width: 992px) {
  .titleB {
    left: -10rem;
    text-wrap: nowrap;
  }

  .title-container .btn {
    left: -10rem;
  }

  .title-container {
    margin-left: 13rem;
    margin-right: 3rem;
    width: 100%;
  }

  .title-container > div:first-child {
    max-width: 32rem;
    max-height: 32rem;
    flex: 1;
  }
  .vertical-bar {
    left: -0.8rem;
    top: 0.4rem;
    width: 3.7rem;
    height: 24.5rem;
    position: relative;
  }

  .about-us-title-vertical {
    transform: rotate(-90deg);
    position: absolute;
    left: -14rem;
  }
  .package-title-vertical {
    transform: rotate(-90deg);
    position: absolute;
    right: -12rem;
    bottom: 16rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) xl */
@media (min-width: 1200px) {
  .clase {
    color: yellow;
  }
}
